clip @ git+https://github.com/openai/CLIP.git@b4ae44927b78d0093b556e3ce43cbdcff422017a
guided-diffusion @ git+https://github.com/crowsonkb/guided-diffusion.git@77db72935820a00d3a28737b9be322a39edcd24f
datetime == 4.4
timm == 0.5.4
lpips == 0.1.4
ipywidgets == 7.7.0
omegaconf == 2.1.1
pytorch_lightning == 1.5.10
einops == 0.4.1
matplotlib == 3.5.1
pandas == 1.4.1
opencv-python-headless == 4.5.5.64
json5 == 0.9.6
numexpr == 2.8.1
wandb == 0.12.14
